<!DOCTYPE html>
<html>
  <head>
    <title>FlashForward</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="https://i.gyazo.com/dba5a71d82572b52f39074a6b59c7a6a.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
